body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;
  background: #23252c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  background-color: #1a1b21;
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.photo {
  display: flex;
  justify-content: center;
}
.me{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.about,
.interest {
  padding-left: 36px;
  padding-right: 34px;
}
.email,
.linkedin {
  /* border: 2px solid red; */
  margin: 17px;
  font-size: 14px;
}
.linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 9px 13px 9px 11px; */
  gap: 8px;
  background: #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.linkedBtn {
  background-color: #5093e2;
  color: white;
  border: #5093e2;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  margin-right: -5px;
  padding-top: 16.5px;
  padding-bottom: 17px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.emailIMG {
  color: black;
}
.emailBtn {
  border: #ffffff;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 115px;
  height: 34px;
  margin-bottom: 34px;
}
.name {
  padding-left: 70px;
  padding-right: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.job {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
}
.website {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #f5f5f5;
}
.headAbout,
.headInterest {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #f5f5f5;
}
.pAbout,
.iAbout {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: justify;
  color: #dcdcdc;
}
.footer{
  bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #161619;
  width: 317px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}